$xs: 540px;    // Custom xs breakpoint
$sm: 640px;    // Custom sm breakpoint
$md: 768px;    // Custom md breakpoint
$lg: 1024px;   // Custom lg breakpoint
$xl: 1280px;   // Custom xl breakpoint
$xxl: 1600px;  // Custom xxl breakpoint


$container-width-xs: 100%;   // Full width for xs
$container-width-sm: 100%;   // Full width for sm
$container-width-md: 720px;  // Width for medium screens
$container-width-lg: 960px;  // Width for large screens
$container-width-xl: 1140px; // Width for extra large screens
$container-width-xxl: 1596px;




